:root {
  background-color: rgb(49, 67, 114);
}


h1,h2,h3,p {
  color:white;
}

.profile{
	max-height: 300px;
	max-width: 300px;
	border-radius: 5%;
	margin-bottom: 10px;
}

.profile_titles{
	text-align: center;
}

/* Icon css below */
.socialIcons-list {
  list-style-type: none; /* Hide bullet points */
  display: flex;
  justify-content: space-between;
  
  margin: 0px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
}
.socialIcons-list li {
  display: inline-block;
}
.socialIcons-list .icon {
  color: white;
  font-size: 40px;
  transition: color 0.2s;
}

.socialIcons-list .icon:hover {
  color: #6c757d;
  cursor: pointer;
}

#about_title {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
